In [ ]:
set = {'Apple','BananA','cherry'}
print(set)

{'BananA', 'Apple', 'cherry'}

In [2]:
#Duplicates
set = {'Apple','BananA','cherry','Apple'}
print(set)

{'BananA', 'Apple', 'cherry'}

In [4]:
#False and 0 are same. True and 1 are same 
set = {'Apple','BananA','cherry',False,0}
print(set)
set1 = {'Apple','BananA','cherry',True,1}
print(set1)

{'BananA', 'Apple', 'cherry', False}
{'BananA', 'Apple', 'cherry', True}

In [5]:
set = {'Apple','BananA','cherry'}
for x in set:
    print(x)

BananA
Apple
cherry

In [6]:
set = {'Apple','Banana','cherry'}
print('Banana' in set)

True

In [7]:
set = {'Apple','Banana','cherry'}
print('Banana' not in set)

False