In [ ]:
The union() and update() methods joins all items from both sets.

The intersection() method keeps ONLY the duplicates.

The difference() method keeps the items from the first set that are not in the other set(s).

The symmetric_difference() method keeps all items EXCEPT the duplicates.

In [3]:
set1 = {1,2,3}
set2 = {'Apple','Banana','Cherry'}
x = set1.union(set2)
print(x)

{1, 2, 3, 'Apple', 'Cherry', 'Banana'}

In [4]:
set1 = {1,2,3}
set2 = {'Apple','Banana','Cherry'}
x = set1|set2
print(x)

{1, 2, 3, 'Apple', 'Cherry', 'Banana'}

In [6]:
set1 = {1,2,3}
set2 = {'Apple','Banana','Cherry'}
set3 = {'a','b'}
x = set1.union(set2,set3)
print(x)

{1, 2, 3, 'b', 'a', 'Apple', 'Cherry', 'Banana'}

In [5]:
set1 = {1,2,3}
set2 = {'Apple','Banana','Cherry'}
set3 = {'a','b'}
x = set1|set2|set3
print(x)

{1, 2, 3, 'b', 'a', 'Apple', 'Cherry', 'Banana'}

In [7]:
#update modifies the existing set while union doesnt
set1 = {1,2,3}
set2 = {'Apple','Banana','Cherry'}
set1.update(set2)
print(set1)

{1, 2, 3, 'Apple', 'Cherry', 'Banana'}

In [ ]:
#intersection happens on a new set
set1 = {1,2,3}
set2 = {'Apple','Banana','Cherry',2}
x = set1.intersection(set2)
print(x)

{2}

In [14]:
#intersection happens on a new set
set1 = {1,2,3}
set2 = {'Apple','Banana','Cherry',2}
x = set1 & set2
print(x)

{2}

In [ ]:
#intersection update happens on a existing set
set1 = {1,2,3}
set2 = {'Apple','Banana','Cherry',2}
set1.intersection_update(set2)
print(set1)

{2}

In [ ]:
#difference items present in set1 that are not there in set2
set1 = {1,2,3}
set2 = {'Apple','Banana','Cherry',2}
x = set1.difference(set2)
print(x)

{1, 3}

In [16]:
# '-' operator can be used for difference
set1 = {1,2,3}
set2 = {'Apple','Banana','Cherry',2}
x = set1 - set2
print(x)

{1, 3}

In [17]:
set1 = {1,2,3}
set2 = {'Apple','Banana','Cherry',2}
set1.difference_update(set2)
print(set1)

{1, 3}

In [22]:
#difference modifies the original set but symmetric difference doesnt modify the original set
set1 = {1,2,3,4}
set2 = {3,4,5,6}
x = set1.symmetric_difference(set2)
print(x)
print(set1)
set3 = {1,2,3,4}
set4 = {3,4,5,6}
y = set3.difference(set4)
print(y)
print(set3)

{1, 2, 5, 6}
{1, 2, 3, 4}
{1, 2}
{1, 2, 3, 4}

In [23]:
# ^ can be used for symmetric difference
set1 = {1,2,3,4}
set2 = {3,4,5,6}
x = set1 ^ set2
print(x)
print(set1)

{1, 2, 5, 6}
{1, 2, 3, 4}

In [25]:

set1 = {1,2,3,4}
set2 = {3,4,5,6}
set1.symmetric_difference_update(set2)
print(set1)

{1, 2, 5, 6}